<footer class="l-footer">
  <div class="footer-crumb">
    <ul class="footer-crumb-list">
      <li><a href="">HOME</a></li>
      <li><a href="">特集一覧</a></li>
      <li class="is-current">8月の特集</li>
    </ul>
  </div>
  <div class="footer-main">
    <div class="footer-inner">
      <div class="footer-logo"><a href=""><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 208.13 210.53"><defs><style>.a{fill:#fff;opacity:0.5;}.b{fill:url(#a);}</style><linearGradient id="a" x1="179.07" y1="180.27" x2="104.07" y2="105.27" gradientUnits="userSpaceOnUse"><stop offset="0.1" stop-color="#fff" stop-opacity="0"/><stop offset="1" stop-color="#fff"/></linearGradient></defs><title>logo_edit</title><polygon class="a" points="1 147.71 1 64.99 63.12 2.87 148.24 2.87 207.53 62.16 207.53 144.88 145.41 207 60.29 207 1 147.71"/><polygon class="b" points="172.06 37.28 36.08 173.26 63.12 200.3 142.38 200.3 200.22 142.46 200.22 65.44 172.06 37.28"/><path d="M208.13,62.16L146,0H59.33L0,59.33v89l62.16,62.16H148.8l59.33-59.33v-89ZM0.8,148V65.32L62.92,3.2H148l59.29,59.29v82.72l-62.12,62.12H60.09Z"/><path d="M157,97.82h-3l-2.15-2.15v-3l2.15-2.15h3l2.15,2.15v3Zm-2.38-1.6h1.72L157.51,95V93.29l-1.21-1.21h-1.72l-1.21,1.21V95Z"/><path d="M87.72,120.85a4.7,4.7,0,0,1-3.36-1.21c-2.54-2.4-2-7.76-1.27-12.61,0.38-2.55-.18-3.09-0.36-3.19-0.4-.23-1.81-0.37-6.45,3.3S58.73,120.68,58.6,120.77l-1-1.27c0.13-.1,13.07-10,17.67-13.63,4.14-3.27,6.68-4.33,8.24-3.42,1.15,0.67,1.52,2.24,1.14,4.81-0.71,4.77-1.1,9.43.78,11.21,0.81,0.76,2,1,3.75.6A39.77,39.77,0,0,0,100,115c-0.64-3,.34-6.21,1.72-7.59,2.5-2.5,4.89-2.39,6-1.24a3.1,3.1,0,0,1,.74,2.82,6.68,6.68,0,0,1-2,3.37,24.83,24.83,0,0,1-4.65,3.41,5.23,5.23,0,0,0,3.6,3.19c4.49,1.27,10.39-1.43,21-9.64l1,1.27c-11.09,8.56-17.38,11.34-22.44,9.91a6.85,6.85,0,0,1-4.57-3.93,41.08,41.08,0,0,1-11,4.09A9,9,0,0,1,87.72,120.85Zm18-13.88a2.17,2.17,0,0,0-.41,0,5,5,0,0,0-2.47,1.52c-1,1-1.69,3.34-1.38,5.61a22.16,22.16,0,0,0,3.93-2.92,5,5,0,0,0,1.53-2.53,1.52,1.52,0,0,0-.3-1.39A1.23,1.23,0,0,0,105.75,107Z"/><path d="M166.29,120.92a3.79,3.79,0,0,1-3.08-1.44,2.9,2.9,0,0,1-.17-3.3,6.2,6.2,0,0,1,5.53-3,14.81,14.81,0,0,1,2.11.42,54.09,54.09,0,0,0-.52-7.71,110.15,110.15,0,0,1-9.17,9.54c-4.45,4.07-8.13,5.88-10.65,5.27a3.4,3.4,0,0,1-2.43-2.29c-1.31-3.62-.87-10.79-0.85-11.09l1.54,1.47c0,0.07-.38,5.77.81,9.08a1.82,1.82,0,0,0,1.31,1.28c1.87,0.47,5.32-1.36,9.18-4.89a106.67,106.67,0,0,0,10.16-10.75l1.13-1.41,0.29,1.78a57.89,57.89,0,0,1,.77,10.16l0.52,0.15c3.17,0.88,7.12,2,10,1.69,4.52-.46,9.69-2.56,12-4.87l1.13,1.13c-2.56,2.55-8.15,4.84-13,5.33-3.2.32-7.3-.82-10.61-1.74l-0.25-.07a6.47,6.47,0,0,1-.47,1.72,6.28,6.28,0,0,1-4.82,3.5A4.83,4.83,0,0,1,166.29,120.92Zm1.88-6.12a4.75,4.75,0,0,0-3.73,2.16,1.28,1.28,0,0,0,0,1.55,2.36,2.36,0,0,0,2.18.8,4.63,4.63,0,0,0,3.54-2.58,5.21,5.21,0,0,0,.37-1.46,15.1,15.1,0,0,0-2.14-.45h-0.25Z"/><polygon points="22.82 120.85 61.98 81.68 58.59 78.29 16.03 120.85 22.82 120.85"/><polygon points="58.53 120.85 96.25 83.12 94.56 81.43 92.86 79.73 51.74 120.85 58.53 120.85"/><polygon points="136.59 120.85 148.62 108.83 148.61 102.04 129.81 120.85 136.59 120.85"/><path d="M35.68,120.8a11.45,11.45,0,0,1-2.42-.26c-9.64-2.07-17.18-9.92-17.18-17.88a9.18,9.18,0,0,1,4.17-8.15,10.45,10.45,0,0,1,9.9-.37,82.14,82.14,0,0,1,9.9,6,38.58,38.58,0,0,0,6.24,3.74q1,0.38,2,.65c0.29-2.18.41-4.3,0.51-6,0.07-1.11,1.26-12.28,1.34-13,0.52-4.76,1.85-7.49,4.48-10.12,2.06-2.06,5.81-1.92,7.14-.59s2.57,4.64.26,7l-3.39-3.39c2.49-2.49-.71-4-2.87-1.84s-3.47,4.18-4,9.16c-0.08.72-1.27,11.87-1.33,13-0.11,1.79-.24,4-0.55,6.3,5.4,1.06,11.49.13,18.51-2.83,8.6-3.63,27-14.12,30.92-18,1.93-1.93,2.19-3.44,1.61-4-0.78-.78-2.08.61-4.61,3.14l-3.39-3.39c3.25-3.25,7.68-2.33,9.13-.88a2.82,2.82,0,0,1,.62,2.82,8,8,0,0,1-2.23,3.46c-4.11,4.11-22.52,14.63-31.43,18.39-7.29,3.08-13.67,4-19.37,2.94-0.66,3.83-1.91,7.65-4.44,9.93S39.62,120.8,35.68,120.8ZM25.46,94.66a8.26,8.26,0,0,0-4.37,1.2,7.64,7.64,0,0,0-3.42,6.79c0,7.11,7.14,14.43,15.92,16.32,4.45,1,7.67-1.25,10.48-3.78,2.23-2,3.34-5.53,3.95-9.1a23,23,0,0,1-2.31-.76,39.26,39.26,0,0,1-6.56-3.91,80.79,80.79,0,0,0-9.7-5.86A9.14,9.14,0,0,0,25.46,94.66Z"/></svg></a></div>
      <ul class="footer-sns">
        <li><a href=""><i class="icon-twitter"></i><span>Twitter</span></a></li>
        <li><a href=""><i class="icon-instagram"></i><span>Instagram</span></a></li>
        <li><a href=""><i class="icon-facebook"></i><span>Facebook</span></a></li>
      </ul>
      <div class="footer-about">
        <h2 class="footer-about-heading">What's "She is"?</h2>
        <p class="footer-about-description">"she is"は、自分らしく生きる女性を祝福する<br class="pc-hide" />ライフ＆カルチャーコミュニティです。</p>
        <p class="button_fill"><a href="">About "She is"</a></p>
      </div>
      <div class="footer-feature">
        <h3 class="footer-feature-heading">Feature<span>毎月特集するテーマに沿って、<br class="pc-hide" />読みものやギフトを提案</span></h3>
        <ul class="footer-feature-way">
          <li class="footer-feature-way-magazine">
            <a href="">
              <svg viewBox="0 0 69.23 102.8"><use xlink:href="#s-feature-magazine"></use></svg>
              <h4 class="footer-feature-way-heading">WEB<br />MAGAZINE</h4>
              <p class="footer-feature-way-text">日常に発見をもたらす<br />読みもの</p>
            </a>
          </li>
          <li class="footer-feature-way-gift">
            <a href="">
              <svg viewBox="0 0 101.5 70.3"><use xlink:href="#s-feature-gift"></use></svg>
              <h4 class="footer-feature-way-heading">GIFT</h4>
              <p class="footer-feature-way-text">日々を祝福する、<br />毎月届く贈りもの<br />（有料）</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-navi">
    <ul class="footer-navi-link">
      <li><a href="">プライバシーポリシー</a></li>
      <li><a href="">利用規約</a></li>
      <li><a href="">特定取引法に基づく表記</a></li>
      <li><a href="">サイトマップ</a></li>
      <li><a href="">お問い合わせ</a></li>
      <li><a href="">よくあるご質問</a></li>
    </ul>
  </div>
  <div class="footer-conduct">
    <div class="footer-inner">
      <p class="footer-conduct-cinra">Powerd by <svg viewBox="0 0 42.37 12.14"><use xlink:href="#s-logo_cinra"></use></svg></p>
      <ul class="footer-conduct-media">
        <li><a href="">CINRA.NET</a></li>
        <li><a href="">CINRA.JOB</a></li>
        <li><a href="">CINRA.STORE</a></li>
        <li><a href="">exPoP!!!!!</a></li>
        <li><a href="">HereNow</a></li>
      </ul>
      <p class="footer-conduct-copyright">Copyright CINRA. inc, All Rights Reserved</p>
    </div>
  </div>
</footer>
<div class="pagetop js-pagetop"><i></i></div>
</div>
<script src="js/build.js"></script>
<%- include('svg') %>
</body>
</html>