<!DOCTYPE html>
<html lang="ja">
<head>
  <title>She is.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="She is.">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="She is.">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="">
  <meta name="twitter:site" content="site">
  <meta name="twitter:title" content="She is.">
  <meta name="twitter:description" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="ogimg.png">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Poppins:500,600" rel="stylesheet">
  <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
  <link rel="icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" href="/touch-icon.png">
  <script type="text/javascript" src="//webfont.fontplus.jp/accessor/script/fontplus.js?fgjNLi9Uupw%3D&aa=1&ab=2" charset="utf-8"></script>
  <style>
    .list_octagon-img image,
    .list_octagon-img img {
      clip-path: url(#clip-octagon);
    }
    .c-bg-b_1 {background-color: #b4e8e2;}
    .c-bd-b_1 {border-color: #b4e8e2;}
    .c-cl-b_1 {color: #b4e8e2;}

    .c-bg-f_1 {background-color: #14aa98;}
    .c-bd-f_1 {border-color: #14aa98;}
    .c-cl-f_1 {color: #14aa98;}
  </style>
</head>
<body>
  <div class="l-wrapper">
    <header class="l-header c-bg-b_1 js-fixedNavi">
      <h1 class="header-logo"><a href=""></a></h1>
      <ul class="header-navi_feature pc-hide">
        <li><a href="">FEATURE</a></li>
        <li><a href="">GIFT</a></li>
      </ul>
      <div class="header-humberger js-spNavi_open"><i></i></div>
      <div class="header-navi js-spNavi">
        <div class="header-navi-inner">
          <div class="header-navi-close js-spNavi_close pc-hide"><i></i></div>
          <ul class="header-navi-main">
            <li><a href="">FEATURE</a></li>
            <li><a href="">GIFT</a></li>
            <li><a href="">GIRLFRIENDS</a></li>
            <li><a href="">ABOUT</a></li>
          </ul>
          <ul class="header-navi-tags">
            <li><a href="">#LOVE</a></li>
            <li><a href="">#WORK</a></li>
            <li><a href="">#SOCIETY</a></li>
            <li><a href="">#FASHION</a></li>
            <li><a href="">#BEAUTY/HEALTH</a></li>
            <li><a href="">#EAT</a></li>
            <li><a href="">#TRIP</a></li>
            <li><a href="">#WORDS</a></li>
            <li><a href="">#MOVIE</a></li>
            <li><a href="">#MUSIC</a></li>
            <li><a href="">#ART</a></li>
            <li><a href="">#連載</a></li>
          </ul>
          <div class="header-navi-search pc-hide">
            <form method="get" action="">
              <input type="text" name="q" title="検索" autocomplete="off" />
              <button type="submit" class="header-search-button"><i></i></button>
            </form>
          </div>
          <ul class="header-navi-sns pc-hide">
            <li><a href=""><i class="icon-twitter"></i></a></li>
            <li><a href=""><i class="icon-instagram"></i></a></li>
            <li><a href=""><i class="icon-facebook"></i></a></li>
            <li class="header-navi-sns-info"><a href="">お知らせ</a></li>
          </ul>
          <ul class="header-navi-register pc-hide">
            <li><a href="">ログイン</a></li>
            <li><a href="">新規登録</a></li>
          </ul>
        </div>
      </div>
      <div class="header-utility sp-hide">
        <ul class="header-utility-info">
          <li class="header-utility-info-news"><a href="">お知らせ</a></li>
          <li class="header-utility-info-search js-headerSearch c-bg-b_1">
            <form method="get" action="">
              <span>SEARCH</span><input type="text" name="q" title="検索" autocomplete="off" />
              <button type="submit" class="header-search-button"><i></i></button>
            </form>
          </li>
        </ul>
        <ul class="header-utility-sns">
          <li><a href=""><i class="icon-twitter"></i></a></li>
          <li><a href=""><i class="icon-instagram"></i></a></li>
          <li><a href=""><i class="icon-facebook"></i></a></li>
        </ul>
        <ul class="header-utility-register">
          <li class="button_fill"><a href="">ログイン</a></li>
          <li class="button_fill"><a href="">新規登録</a></li>
        </ul>
      </div>
    </header>
    <div class="js-header_ghost"></div>
