/* -----------------
@include MediaQuery
----------------- */

@mixin mqTB {
  @media screen and (min-width: 768px) and (max-width: 1279px){
    @content;
  }
}

@mixin mqNotSP {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mqSP {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin sp-inner {
  width: 100%;
  box-sizing: border-box;
  padding-right: calc-vw(40);
  padding-left: calc-vw(40);
}

/* -----------------
@extend clearfix
----------------- */
%clearfix {
  zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* -----------------
icofont settings
----------------- */
@mixin icofont {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -----------------
bg-cover
----------------- */
@mixin bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* -----------------
placeholder
----------------- */
@mixin placeholder {
  &:placeholder-shown {
      @content;
  }
  &::-webkit-input-placeholder {
      @content;
  }
  &:-moz-placeholder {
      opacity: 1;
      @content;
  }
  &::-moz-placeholder {
      opacity: 1;
      @content;
  }
  &:-ms-input-placeholder {
      @content;
  }
}

/* -----------------
sprite 
----------------- */
@mixin r-sprite-width($sprite) {
  width: nth($sprite, 5)/2;
}

@mixin r-sprite-height($sprite) {
  height: nth($sprite, 6)/2;
}

@mixin r-sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3)/2;
  $sprite-offset-y: nth($sprite, 4)/2;
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin r-sprite-size($sprite) {
  background-size: nth($sprite, 7)/2 nth($sprite, 8)/2;
}

@mixin r-sprite($sprite) {
  @include sprite-image($sprite);
  @include r-sprite-position($sprite);
  @include r-sprite-width($sprite);
  @include r-sprite-height($sprite);
  @include r-sprite-size($sprite); 
}


/* -----------------
calc-vw 
----------------- */
@function calc-vw($size, $viewport:640){
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@mixin tr_smooth {
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  overflow:hidden;
}