@media print {
  body {
    background-color: transparent;
    min-width: 1px;
    padding: 30px;
    zoom: 80%;
  }
  .l-header,.l-footer,.l-gnavi,.f-column-2 .l-side,
  .l-content > .l-stride,
  .alertBox,
  [class^="billboard"],
  [class^="modal"] {
    display: none;
  }
  .l-wrapper {
    padding-left: 0;
  }
  .t-default .l-main,
  .l-main {
    padding: 0;
  }
  .l-content {
    padding-bottom: 0;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .l-content-inner,
  .f-column-2 .l-content-inner {
    padding: 0;
    min-width: 1px;
    max-width: 100%;
  }
  .l-inner {
    padding: 0;
  }
  
  .single-articleHeader-data,
  .articleHeader-date {
    border-bottom: 1px solid #ccc;
  }
  .single-articleHeader {
    .sns {
      display: none;
    }
    .tags {
      li {
        border: 1px solid $c_g1;
      }
    }
  }
  
  .wysiwyg {
    max-width: 100%;
    table {
      font-size: 12px;
      width: 100%;
      box-sizing: border-box;
      td,th {
        border: 1px solid #ccc;
        &:last-child {
          border: 1px solid #ccc;
        }
      }
      tr {
        &:last-child {
          th,td {
            border: 1px solid #ccc;
          }
        }
      }
    }
    .tableWrap {
      overflow: visible;
      &.is-overWidth {
        &:before {
          content: none;
        }
      }
    }
  }

}